<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Arena Application
		{% block head %}
		 	Main Page
		{% endblock  %}
		
	</title>
</head>
<body>



{% if user.is_authenticated %}
<div id="welcome" >
	<h4> Hi {{user.username}} </h4>
</div>

<div id="navbar">

<ul>
	<li>
		<a href="/challenge/create"> New Challenge </a>
	</li>
	<li>
		<a href="/challenge/all"> View Challenges </a>
	</li>
</ul>

</div>

{% endif %}


<h2> Welcome to arena app </h2>
	{% block  content %}

	<ul>
		<li>
			<b> Register : </b> <a href="/account/register" > Page </a>
		</li>
		<li>
			<b> Login : </b> <a href="/account/login" > Page </a>
		</li>
		<li>
			<b> Logout : </b> <a href="account/logout"> Page </a>
		</li>
		<li>
			<b> Challenge/create </b> <a href="challenge/create"> Page </a>
		</li>
	</ul>

	{% endblock  %}

</body>

</html>