<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Arena Application
		{% block head %}
		 	Main Page
		{% endblock  %}
		
	</title>
</head>
<body>



{% if user.username %}
<div id="welcome" >
	<h4> Hi {{user.username}} </h4>
</div>
{% endif %}


<h2> Welcome to arena app </h2>
	{% block  content %}

	<ul>
		<li>
			<b> Register : </b> <a href="/account/register" > Page </a>
		</li>
		<li>
			<b> Login : </b> <a href="/account/login" > Page </a>
		</li>
		<li>
			<b> Logout : </b> <a href="account/logout"> Page </a>
		</li>
	</ul>

	{% endblock  %}

</body>

</html>