{% extends 'base.html' %}

{% block head %}
	Register

{% endblock %}


{% block content %} 
	{% if not user.is_authenticated %}

		<form method="post" action="./register" >
		{% csrf_token %}
		<table>
		{% for field in form %}

			<tr>
					<td>	{{field.label}} </td> 
					<td>	 :			 </td> 
					<td> 	{{field}}	 </td>
			</tr>

		{% endfor %}

		<tr>
			<td> <input type="submit" value="Register" />  </td>

		</tr>

		{% if error %}
			{{error}}
		{% endif %}

		</table>

		</form>

	{% else %}

		<p>
			<strong> You are already logged in. </strong>
		</p>

	{% endif %}

{% endblock %}
